.Title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
body{
    margin-right: 75px;
    margin-left: 75px;
}
.PG{
    font-size: 1.5em;
}
#OtherNews{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.NewsAd{
    width: 350px;
    height: 250;
    border: 3px solid black;
    font-size: 20px;
}
.MateriaPhoto{
    width: calc(100vw - 320px);
    height: calc(100vh - 160px); 
    border-radius: 5px;
}
.AdImage{
    width: calc(100vw - 1080px);
    height: calc(100vh - 480px); 
    margin: 5px;
}
.NewsAdConteiner{
    display: flex;
    gap: 10px;
}
#Return{
    font-size: 25px;
}